<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/upload" enctype="multipart/form-data" method="post" id="fileUploadForm">
        <label for="name">First Name
            <input type="file" name="file" id="fileInput">
        </label>
        <button type="submit">Upload</button>
    </form>
    <script src="/CS2/js/scripts.js"></script>
</body>

</html>